<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="needs-validation" >
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control" id="nombre" required>
      <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched" class="invalid-feedback">
        El nombre es requerido
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" class="form-control" id="email"  required>
      <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="invalid-feedback">
        El email es requerido
      </div>
    </div>
  
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="tel" formControlName="telefono" class="form-control" id="telefono" prefix="(+54)-" mask="000-0000-0000" required>
      <div *ngIf="formulario.get('telefono')?.invalid && formulario.get('telefono')?.touched" class="invalid-feedback">
        El teléfono es requerido
      </div>
    </div>

    <div class="form-group">
        <label for="cuil">Cuil:</label>
        <input type="text" formControlName="cuil" class="form-control" id="cuil" mask="00-00000000-0" required>
        <div *ngIf="formulario.get('cuil')?.invalid && formulario.get('cuil')?.touched" class="invalid-feedback">
          El cuil es requerido
        </div>
    </div>

    <div class="form-group">
      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" formControlName="fechaNacimiento" class="form-control" id="fechaNacimiento"  required>
      <div *ngIf="formulario.get('fechaNacimiento')?.invalid && formulario.get('fechaNacimiento')?.touched" class="invalid-feedback">
        La fecha de nacimiento es requerida
      </div>
    </div>
  
    <button type="submit" [disabled]="formulario.invalid" class="btn btn-primary mt-1">Enviar</button>
    
  </form>
  